html, body { /* Para corregir el desbordamiento que causo la libreria AOS.js */
 overflow-x: hidden;
}

body {
	font-family: 'Montserrat', sans-serif;
  position: relative;
  font-weight: 300;
  color: #444444;
}

a {
	text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

.transition{
  -webkit-transition: all ease-in-out .3s; /* Safari */
  transition: all ease-in-out .3s;
}

/* Variables */
:root {
  --primary-color: #5e1313;
  --header-color: black;
  --footer-color: black;
}
/* Variables end */

/* Buttones */
button,
.btn-primary {
  color: white;
  background-color: var(--primary-color);
  font-weight: 100;
  border-color: var(--primary-color);
  padding: 5px 30px;
  border-radius: 0;
  text-transform: uppercase;
}

.btn-check:focus + .btn-primary, .btn-primary:focus,
.btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, 
.btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle,
.btn-check:active + .btn-primary:focus, .btn-check:checked + .btn-primary:focus, 
.btn-primary.active:focus, .btn-primary:active:focus, .show > 
.btn-primary.dropdown-toggle:focus {
  color: var(--primary-color);
  background-color: white;
  border-color: var(--primary-color);
  box-shadow: none;
}

.btn:focus {
  box-shadow: none;
}

.btn-primary:hover {
  background: white;
  color: var(--primary-color);
  border-color: var(--primary-color);
}
/* Buttones end */

/* Header */
header {
  z-index: 2;
  position: fixed;
  background: black;
  height: 80px;
  width: 100%;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a,
header i {
  color: white;
  font-size: 1.75rem;
}

header .content_logo {
  z-index: 4;
}

header #content_active_submenu button {
  background-color: transparent!important;
  border: none!important;
}

header #content_active_submenu button.active,
header #content_active_submenu a.active {
  color: white!important;
  border-bottom: solid 1px white!important;
}

header nav button.active,
header nav a.active {
  color: white!important;
  border-bottom: solid 1px white!important;
}

header #hamburger {
  z-index: 4;
  cursor: pointer;
}

header #submenu {
  display: none;
  opacity: 0;
}

header #submenu.active_submenu {
  display: inline-block;
  background: var(--primary-color);
  opacity: 1;
  position: absolute;
  left: 0;
  top: 51px;
}

header nav {
  position: absolute;
  background: var(--header-color);
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  transform: scale(0);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 0.5s;
  z-index: 3;
}

header nav.active {
  transform: scale(1);
}

header nav ul {
  width: 100%;
}

header nav ul li {
  border-bottom: solid 1px #727176;
  padding-top: 20px;
  padding-bottom: 20px;
}

header nav ul li:first-child {
  padding-top: 0;
  position: relative;
}

header nav ul li a,
header nav ul li button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

header nav ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

header nav ul #content_active_submenu a i {
  margin-left: 10px;
}

header #submenu li {
  padding: 15px;
}

header nav a {
  color: #babbbf;
  font-size: 1.25rem;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 0;
}

header nav button {
  color: #babbbf;
  font-size: 1.25rem;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 0;
  padding: 0;
}

header nav button i {
  margin-left: 10px;
}

header #submenu a {
  font-size: 0.9rem;
}

header #arrow.fa-angle-down {
  animation: arrow_down 2s infinite linear;
  font-size: 1rem;
}

header #arrow.fa-angle-up {
  animation: arrow_up 2s infinite linear;
  font-size: 1rem;
}

header nav i {
  color: #babbbb;
  font-size: 1.5rem;
}

header nav a:hover,
header i:hover {
  color: white;
}

header nav .logo_menu {
  margin-bottom: 10px;
  max-width: 160px;
}

header nav .icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

header nav .icons a {
  margin-right: 30px;
}

header nav .icons a:last-child {
  margin-right: 0;
}

/* Header end */

/* Header Small */
header.header_small {
  height: 60px;
}

header.header_small #hamburger {
  font-size: 1.5rem!important;
}

header.header_small .logo {
  max-width: 75%;
}
/* Header Small end */

/* Footer */
footer {
  background: var(--footer-color);
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

footer p,
footer a,
footer button {
  font-size: 0.85rem;
  color: #797979;
}

footer p,
footer a,
footer button {
  color: #797979;
}

footer button {
  background-color: transparent!important;
  border:  none!important;
  text-transform: inherit;
}

footer a:hover,
footer button:hover {
  color: white;
}

footer a.active {
  /*color: grey;*/
}

footer .menu_footer:first-child {
  position: relative;
}

footer #submenu_footer {
  opacity: 0;
  display: none;
}

footer #submenu_footer.active_submenu {
  opacity: 1;
  background-color: var(--primary-color);
  width: 220px;
  left: calc( 50% - 110px );
  display: inline-block;
  position: absolute;
  top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer #submenu_footer.active_submenu li {
  padding-top: 10px;
  padding-bottom: 10px;
}

footer #submenu_footer.active_submenu li a {
  color: grey;
}

footer #submenu_footer.active_submenu li a.active {
  color: white;
}

footer .item button.active,
footer .item a.active {
  color: white!important;
}

footer .logo {
  margin-bottom: 20px;
}

footer .data p {
  margin-bottom: 0;
}

footer .data .copy {
  border-bottom: solid 1px white;
  padding-bottom: 20px;
}

footer .menu {
  margin-bottom: 20px;
}

footer .menu li {
  margin-bottom: 15px;
  text-transform: uppercase;
}

footer .rrss ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
}

footer .rrss ul a {
  display: inline-block;
  margin-right: 30px;
}

footer .rrss ul li:last-child a {
  margin-right: 0;
}

footer .rrss ul a i {
  font-size: 1.5rem;
}

footer .rrss {
  margin-top: 20px;
}
/* Footer end */


/* MEDIA QUERIES */
@media (min-width: 576px) {

}

@media (min-width: 768px) {

  /* Header */
  header .mail {
    display: inline-block;
    margin-left: 20px;
  }

  header #submenu.active_submenu {
    left: 160px;
    top: -1px;
    width: auto;
  }
  /* Header end */

  /* Footer */
  footer .content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }

  footer .menu .col-md-6 {
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer .rrss {
    margin-top: 0;
  }
  /* Footer end */

}

@media (min-width: 992px) {

  /* Header */
  header nav {
    position: relative;
    height: auto;
    transform: scale(1);
    justify-content: flex-start;
    padding-top: 0;
    padding-bottom: 0;
  }

  header.header_small #menu li,
  header.header_small #menu a,
  header.header_small #menu button {
    font-size: 1rem;
  }

  header #hamburger {
    display: none;
  }

  header nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
  }

  header nav ul li {
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 0;
  }

  header nav ul li:first-child {
    padding-left: 0;
  }

  header nav ul li:last-child {
    padding-right: 0;
  }

  header #submenu {
    position: absolute;
    display: inline-block;
    background: var(--primary-color);
    top: -500px;
    left: 160px;
    width: 280px;
    text-align: center;
    opacity: 0;
  }

  header #submenu.active_submenu {
    opacity: 1;
    top: 0;
    width: 280px;
  }

  header.header_small #submenu {
    width: 260px;
  }

  header.header_small #submenu.active_submenu {
    width: 260px;
  }

  header.header_small #submenu a {
    font-size: 0.8rem;
  }
  /* Header end */

  /* Footer */
  footer {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  footer .content {
    display: flex;
    align-items: flex-start;
    text-align: left;
  }

  footer .menu .col-md-6 {
    align-items: flex-start;
  }

  footer .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }

  footer .menu li {
    text-align: center;
    padding: 0 20px;
    margin-bottom: 0;
  }

  footer .menu li:first-child {
    padding-left: 0;
  }

  footer .menu li:last-child {
    padding-right: 0;
  }

  footer .data .copy {
    border-top: solid 1px #797979;
    border-bottom: none;
    padding-top: 5px;
    padding-bottom: 0;
  }

  footer .data .copy p {
    font-size: 0.75rem;
  }

  footer .rrss {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Footer end */

}

@media (min-width: 1200px) {

  /* Header */
  header nav .logo_menu {
    max-width: 180px;
  }
  /* Header end */

  /* Footer */
  footer .content {
    border-right: solid 1px #797979;
  }

  footer .content:last-child,
  footer .content:nth-child(3) {
    border-right: none;
  }
  /* Footer end */

}

@media (min-width: 1400px) {

  /* Header */
  header nav a {
    font-size: 1.5rem;
  }

  header nav i {
    color: #babbbb;
    font-size: 1.75rem;
  }

  header #submenu li,
  header #submenu a,
  header #submenu button {
    font-size: 0.9rem;
  }
  /* Header end */

}

@keyframes arrow_down {
  0% {
    transform: translateY(5px);
  }
  20% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px);
  }
}

@keyframes arrow_up {
  0% {
    transform: translateY(5px);
  }
  20% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px);
  }
}



